@{ 
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Home</div>
                <div class="panel-body">
                    <h4>Thống kê</h4>
                    <p>Số truyện: @ViewBag.totalStory</p>
                    <p>Số tập: @ViewBag.totalVolume</p>
                    <p>Số chương: @ViewBag.totalChapter</p>
                </div>
            </div>
        </div>
    </div>
</div>