<head>
    <link href="~/css/Search.css" rel="stylesheet" />

    <style>
        body {
            font-family: sans-serif;
            background-color: #eeeeee;
        }

        .file-upload {
            background-color: #ffffff;
            width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .file-upload-btn {
            width: 100%;
            margin: 0;
            color: #fff;
            background: #1FB264;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #15824B;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

            .file-upload-btn:hover {
                background: #1AA059;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
            }

            .file-upload-btn:active {
                border: 0;
                transition: all .2s ease;
            }

        .file-upload-content {
            display: none;
            text-align: center;
        }

        .file-upload-input {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }

        .image-upload-wrap {
            margin-top: 20px;
            border: 4px dashed #1FB264;
            position: relative;
        }

            .image-dropping,
            .image-upload-wrap:hover {
                background-color: #1FB264;
                border: 4px dashed #ffffff;
            }

        .image-title-wrap {
            padding: 0 15px 15px 15px;
            color: #222;
        }

        .drag-text {
            text-align: center;
        }

            .drag-text h3 {
                font-weight: 100;
                text-transform: uppercase;
                color: #15824B;
                padding: 60px 0;
            }

        .file-upload-image {
            max-height: 200px;
            max-width: 200px;
            margin: auto;
            padding: 20px;
        }

        .remove-image {
            width: 200px;
            margin: 0;
            color: #fff;
            background: #cd4535;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #b02818;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

            .remove-image:hover {
                background: #c13b2a;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
            }

            .remove-image:active {
                border: 0;
                transition: all .2s ease;
            }
        
        .search_image_url > input {
            width: 600px;
            height: 40px;
            margin-top: 10px;
        }
        .btn_search {
            margin-top: 10px;
            width: 100px;
            height: 40px;
            background-color: #1fb264;
            color: white;       
        }
    </style>
</head>
@model List<WebLightNovel.Models.ModelStory.ModelSearchChapter>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form style="text-align:center" class="form" method="post" action="/Search/SearchAdvanced" enctype="multipart/form-data">
    <div class="file-upload">
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Chọn hình ảnh muốn tìm kiếm</button>

        <div class="image-upload-wrap">
            <input name="file" class="file-upload-input" type="file" onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
                <h3></h3>
            </div>
        </div>
        <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
        </div>
    </div>
    <div class="search_image_url">
        <input type="text" placeholder="Nhập url hình ảnh" name="url" />

    </div>
    <div>
        <button class="btn_search" type="submit" value="Tìm kiếm">Tìm kiếm </button>

    </div>

</form>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<div class="container padding-all-10">
    <div class="content">
        <div class="content__update">
            <div class="content__update-wrapper padding-all-10">
                <div class="content__title">
                    @if(ViewBag.Exception != null)
            {
                <h2>Đã xảy ra lỗi, vui lòng kiểm tra đường dẫn có hợp lệ hay không</h2>
            }
            else if(Model != null)
            {
                <h2>
                    @Model.Count kết quả trùng lặp
                    </h2>
            }

                    
                </div>
                <div style="padding-bottom:20px;" class="list__manga-wrapper">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="manga__item">
                                <div class="manga__item-img">
                                    <a href="/truyen/@item.link_chapter">
                                        <img src="~/Content/imageChapter/@item.image_name" alt="">
                                    </a>

                                </div>
                                <div class="manga__item-caption">
                                    <h3 class="manga__item-title">
                                        <a href="/truyen/@item.link_chapter"> @item.chapter_name</a>
                                    </h3>
                                    <ul class="manga__item-history">
                                        <li class="item__history-chapter ">
                                            <h5 class="overflowContent">Tỉ lệ khớp</h5>
                                            <h5>
                                                @item.matchRate %
                                            </h5>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        }

                    }



                </div>
            </div>





        </div>
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.image-upload-wrap').hide();
                $('.file-upload-image').attr('src', e.target.result);
                $('.file-upload-content').show();
                $('.image-title').html(input.files[0].name);
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            removeUpload();
        }
    }

    function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
    });

</script>


