
@{
    ViewBag.Title = "Instruct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
       
    </style>
</head>
<div class="forum-page-content long-text">
    <h1>
        Hướng dẫn thêm mới nhóm dịch
        <img src="~/avatar/anh1.1.png" />
        <img src="~/avatar/anh1.2.png" />
        <img src="~/avatar/anh1.3.png" />
        <img src="~/avatar/anh1.4.png" />
    </h1>
    <h1>
        Hướng dẫn gửi truyện lên website
        <img src="~/avatar/anh2.1.png" />
    </h1>
    <h1>
        Hướng dẫn quản lý truyện đã đăng lên website
        <img src="~/avatar/anh3.1.png" />
        <img src="~/avatar/anh3.2.png" />
        <img src="~/avatar/anh3.3.png" />
        <img src="~/avatar/anh3.4.png" />
        <img src="~/avatar/anh3.5.png" />
    </h1>
</div>

