
@{
    Layout = null;
}

<html lang="vi" class="light">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>  Cổng Light Novel - Đọc Light Novel</title>
    <style>
        h2 {
            margin: 0 auto;
        }
    </style>

</head>
<body class="lightmode">
    <h2>
        Đường dẫn bạn truy cập không tồn tại
    </h2>
</body>

</html>