
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error403</title>
    <style>
        h2{
            margin:0 auto;
        }
    </style>
</head>
<body>
            <h2>
                Bạn không được cấp quyền để truy cập trang này
            </h2>
</body>
</html>
